.home {
    height: 100vh;
    background-image: url('./etoiles.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.persosInfos {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}